.select-container{
  border-top: 1px solid white;
  color: white;
  padding-top: 5px;
  .items{
    padding-left: 25px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 2px;
    .icon{
      margin-right: 8px;
    }
    .text{
      display: inline-block;
      font-size: 20px;
    }
    .code{
      font-size: 14px;
      float: right;
      margin-right: 12px;
      height: 45px;
      line-height: 45px;
    }
  }
  .is-selected{
    background-color:#ffa800;
  }
}