.search-container {
  display: flex;
  justify-content: space-between;
  height: 55px;
  color: white;
  .keycontainer{
    display: flex;
    align-items: center;
    padding-right: 12px;
  }
  .underline{
    text-decoration:underline;
  }
  .mainbar{
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-size: 28px;
    .icon{
      margin-right: 8px;
    }
  }
}
